<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sobre nosotros</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{url_for('static', filename='index.css')}}" rel="stylesheet">
</head>

<body>
  <header>
    <a href="/">Inicio</a>
    <h2>PYGROUP</h2>
    <a href="/about">Nosotros</a>
  </header>
  <h1>Acerca de Nosotros</h1>
	<p>Realizado por Will Defredsho Arnache Dorias y Laura Yuliana Carrillo Almeida</p>
	<p>Tecnologia en desarrollo de sistemas informaticos</p>
	<p>Unidades Tecnologicas de Santander</p>
</body>

</html>
